html { 
    background: url("../big-bend.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
  }

html, body {
    width: 100%;
    height: 100%;
}

.parts {
    background-color: rgba(255, 255, 255, 0.616);
      
}

footer p {
    display: flex;
    justify-content: center;
}

header, section, footer {
    flex-shrink: 0;
}

main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

section {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
